@import '../../../../assets/styles/layout';
.notification-container {
  @include pos(absolute,40px,40px);
  width: 360px;
  padding: 20px;
  background: rgba(255,255,255,0.9);
  border-radius: 6px;
  border-left: 10px solid transparent;

  &.error {
    border-left-color: $alert-1;

    h3 {
      color: $alert-1;
    }
    h5{
      font-weight: 400;
    }
  }
}
