<div class="main-container">
  <h1>Building apartments</h1>

  <section class="flex-row-start wrap">
    <div class="general-card" (click)="addNewApartment()">
      <img src="../../assets/images/plus-button.svg" />
      <h3>Add apartment</h3>
    </div>
<!-- 
    <div *ngFor="let building of buildings"
         class="general-card"
         (click)="redirectToBuilding(building.id)">
      <img src="../../assets/images/building.svg" />
      <h3>{{building.name}}</h3>
    </div> -->
  </section>
</div>
