<div class="main-container">
  <h1>Tenant dashboard</h1>
  <section class="flex-row-start wrap">

    <div class="general-card"
         (click)="editProfile()">
      <img src="../../assets/images/edit-user.svg" />
      <h3>Edit Profile</h3>
    </div>

    <div class="general-card"
         (click)="redirect()">
      <img src="../../assets/images/temperature.svg" />
      <h3>Temperature</h3>
    </div>

    <div class="general-card">
      <img src="../../assets/images/humidity.svg" />
      <h3>Humidity</h3>
    </div>
  </section>
</div>
