@import 'mixins.scss';
@import 'buttons.scss';

.login-container {
  @include size(100vw, 100vh);
  @include flex(column,center,center);
  background-size: cover;

  .login-panel {
    @include flex(column,center,center);
    padding: 80px 40px 40px 40px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.8);
  }

  img {
    width: 160px;
    margin-bottom: 20px;
    align-self: center;
  }

  a {
    margin-top: 20px;
    align-self: center;
    cursor: pointer;
  }
}
