<section class="login-container"
         [style.background-image]="transformImage('../../assets/background.jpg')">

  <div class="login-panel">
    <form *ngIf="registerForm"
          autocomplete="off"
          role="form"
          class="full-width"
          [formGroup]="registerForm">
      <div class="input-pair">
        <input class="simple-input"
               placeholder="Username*"
               formControlName="username"
               type="text"
               [class.invalid]="registerForm.get('username').invalid && isFormSubmitted">
        <span *ngIf="hasControlErorr('username', 'required')"
              class="error-message">
          Username field is required!
        </span>
        <span *ngIf="hasControlErorr('username','maxlength')"
              class="error-message">
          You can enter only 50 characters!
        </span>
      </div>

      <div class="input-pair">
        <input class="simple-input"
               placeholder="Password*"
               formControlName="password"
               type="password"
               [class.invalid]="registerForm.get('password').invalid && isFormSubmitted">
        <span *ngIf="hasControlErorr('password','required')"
              class="error-message">
          Password field is required!
        </span>
        <span *ngIf="hasControlErorr('password','password')"
              class="error-message">
          You can enter only 50 characters!
        </span>
      </div>

      <div class="input-pair">
        <input class="simple-input"
               placeholder="Re-type password*"
               formControlName="confirmPassword"
               type="password"
               [class.invalid]="registerForm.get('confirmPassword').invalid && isFormSubmitted">
        <span *ngIf="hasControlErorr('confirmPassword','required')"
              class="error-message">
          Confirm password field is required!
        </span>
        <span *ngIf="hasControlErorr('confirmPassword','match')"
              class="error-message">
          Passwords don't match.
        </span>
      </div>

      <div class="input-pair">
        <input class="simple-input"
               placeholder="Name*"
               formControlName="name"
               type="text"
               [class.invalid]="registerForm.get('name').invalid && isFormSubmitted">
        <span *ngIf="hasControlErorr('name','required')"
              class="error-message">
          Name field is required!
        </span>
        <span *ngIf="hasControlErorr('name','maxlength')"
              class="error-message">
          You can enter only 50 characters!
        </span>
      </div>

      <div class="input-pair">
        <input class="simple-input"
               placeholder="Surname*"
               formControlName="surname"
               type="text"
               [class.invalid]="registerForm.get('surname').invalid && isFormSubmitted">
        <span *ngIf="hasControlErorr('surname','required')"
              class="error-message">
          Surname field is required!
        </span>
        <span *ngIf="hasControlErorr('surname','required')"
              class="error-message">
          You can enter only 50 characters!
        </span>
      </div>

      <div class="input-pair">
        <input class="simple-input"
               placeholder="Email*"
               formControlName="email"
               type="text"
               [class.invalid]="registerForm.get('email').invalid && isFormSubmitted">
        <span *ngIf="hasControlErorr('email','required')"
              class="error-message">
          Email field is required!
        </span>
        <span *ngIf="hasControlErorr('email','pattern')"
              class="error-message">
          Invalid email.
        </span>
      </div>

      <div class="input-pair">
        <input class="simple-input"
               placeholder="Phone number*"
               formControlName="phoneNumber"
               type="text"
               [class.invalid]="registerForm.get('phoneNumber').invalid && isFormSubmitted">
        <span *ngIf="hasControlErorr('phoneNumber','required')"
              class="error-message">
          Phone number field is required!
        </span>
        <span *ngIf="hasControlErorr('phoneNumber','pattern')"
              class="error-message">
          Invalid phone number.
        </span>
      </div>

    </form>

    <button class="primary-button full-width"
            (click)="submitForm()">
      <h6>Register</h6>
    </button>
    <a [routerLink]="['/login']">Back to login</a>

  </div>
</section>
<notification [title]="'Error'" [notificationText]="'Register failed! Try again..'" [type]="error" [show]="registerFailed"></notification>
